@model IEnumerable<WorldOfTravels.Models.Post>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Posts";
}

<h1>World Of Travel Posts</h1>
<p></p>

<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Create")'">
    <span class="glyphicon glyphicon-pencil"></span> Write New Post
</button>
<p></p>

<form asp-controller="Posts" asp-action="Index" method="get" class="row">
    <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Title" name="TitleSearchString">
    </div>
    <div class="col-md-3">
        <input type="date" class="form-control" placeholder="Publish Date" name="DateSearch" />
    </div>
    <div class="col-md-3">
        <select asp-items="ViewBag.CountryID" class="form-control" id="countriesList" name="CountrySearch"></select>
    </div>
    <input type="submit" value="Filter" class="btn btn-info" />

</form>

<div class="row">
    <div class="col-lg-8">
        @foreach (var item in Model)
        {
        <section>
            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
            <i class="glyphicon glyphicon-user"></i> <strong>@Html.DisplayFor(modelItem => item.UploaderUserName)</strong>
            <hr>
            <p>
                <span class="glyphicon glyphicon-globe"></span> <strong>@Html.DisplayFor(modelItem => item.Country.Name)</strong>
            </p>
            <p class="small">
                <span class="glyphicon glyphicon-calendar"></span> Posted on @Html.DisplayFor(modelItem => item.PublishDate)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Content)
            </p>
            <p>
                @if (item.UploaderUserName != null && item.UploaderUserName.Equals(UserManager.GetUserName(User)))
                {
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                }
            </p>
         </section>

            <div class="row" style="margin: 0px;">
                <div class="well well-sm col-md-6">
                    <p><i class="glyphicon glyphicon-send"></i> Leave a Comment:</p>
                    @using (Html.BeginForm("PostComment", "Posts"))
                    {
                        <input type="hidden" name="postId" value="@item.ID" />
                        <div class="form-group">
                            <textarea name="content" class="form-control" rows="2"></textarea>
                        </div>
                        <button type="submit" value="post" class="btn btn-info">Submit</button>
                    }
                </div>
            </div>

            @foreach (var comment in item.Comments)
            {
                <section>
                    <p>
                        <span class="glyphicon glyphicon-comment"></span>
                        @Html.DisplayFor(modelItem => comment.UploaderUserName):
                        <br />
                        <small>@Html.DisplayFor(modelItem => comment.CreationDate)</small>
                    </p>
                    <p>@Html.DisplayFor(modelItem => comment.Content)</p>
                </section>
            }

            <br />
        }
    </div>
</div>

<script>
    //document.getElementById("countriesList").selectedIndex = -1;
    window.onload = function () {
        $("#countriesList").prop("selectedIndex", -1);
    };
    
</script>
