@model IEnumerable<WorldOfTravels.Models.User>

@{
    ViewData["Title"] = "Index";
}

@using Microsoft.AspNetCore.Identity
@using WorldOfTravels.Models
@inject UserManager<ApplicationUser> UserManager

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAdmin)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    @if (item.Username != UserManager.GetUserName(User))
                    {
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
